<div class="footer">
<div class="titleCategory">
  <label class="header">Lent Posts</label>
  <br />

  <label class="descriptionFilter" for="posts-type">Filter by category to see all <br /> user posts during Lent.</label>
  <br />
    <select class="listFilters" name="posts-type" id="posts-type">
      <option value="technology">Technology</option>
      <option value="drive">Drive</option>
      <option value="news">News</option>
    </select>
</div>

<label class="btRedirect" (click)="redirectTo('createPost')">Create Post</label>
</div>

<div class="containerPosts">
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
  <div class="post">
    <div>
      <label class="username">User #1</label>
      <br />
      <label class="createDate">March 30, 2024</label>
    </div>
    <br />
    <label class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non magna faucibus, efficitur risus a, aliquam orci.</label>
  </div>
</div>
