<form class="register-form">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" id="email">
  </div>

  <div>
    <label for="password_one">Password</label>
    <input type="password" id="password_one">
  </div>

  <div>
    <label for="password_two">Confirm password</label>
    <input type="password" id="password_two">
  </div>

  <button type="submit">Register</button>
</form>


<span (click)="redirectTo('../')">Уже есть аккаунт? Войти!</span>
