<div class="formMain">
  <label class="header">Register</label>
  <form class="login-form" [formGroup]="registerForm">
    <div>
      <label class="label" for="username">Username</label>
      <br />
      <input class="inputField" type="text" id="username" formControlName="username">
    </div>

    <div>
      <label class="label" for="email">Email</label>
      <br />
      <input class="inputField" type="email" id="email" formControlName="mail">
    </div>

    <div>
      <label class="label" for="password_one">Password</label>
      <br />
      <input class="inputField" type="password" id="password_one" formControlName="password_one">
    </div>

    <div>
      <label class="label" for="password_two">Password</label>
      <br />
      <input class="inputField" type="password" id="password_two" formControlName="password_two">
    </div>

    <button class="btSubmit" type="submit">Register</button>
  </form>

  <label class="btRedirect" (click)="redirectTo('../')">Есть аккаунт? Войти!</label>
</div>


